<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/kiran/IdeaProjects/RestAssured1/src/test/java/tests/EndToEndTest.java">
        <classes><class name="tests.EndToEndTest">
            <methods>
                <include name="e2eapirequest"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>